/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');


:root {
    --green-color : #3A5743; /* forest green */
    --olivine-color : #98B06F; /* olive green */
    --brown-color : #774936; /* wood brown */
}

.text-green {
    color: var(--green-color);
}

.text-olive {
    color: var(--olivine-color);
}

.text-brown {
    color: var(--brown-color);
}

.font-rounded {
    font-family: 'Seymour One', 'Serif';
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 15%;
}

.bg-olive {
    background-color: var(--olivine-color);
}

.bg-green {
    background-color: var(--green-color);
}