/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


:root {
    --green-color : #3A5743; /* forest green */
    --olivine-color : #98B06F; /* olive green */
    --brown-color : #393424; /* wood brown */
}

.text-green {
    color: var(--green-color);
}

.text-olive {
    color: var(--olivine-color);
}

.text-brown {
    color: var(--brown-color);
}

.font-rounded {
    font-family: 'Seymour One', 'serif';
}

.font-roboto {
    font-family: 'Roboto Slab', 'serif';
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-decoration-color: var(--olivine-color);
}

.bg-olive {
    background-color: var(--olivine-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-brown {
    background-color: var(--brown-color);
}